<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MovieInfoMapper">

	<update id="updateMovie">
		update table_movie_info 
		set title=#{title}, starring=#{starring}, genre = #{genre}, director = #{director}, runtime = #{runtime}, summary=#{summary}, poster = #{poster}
				, still_cut1 = #{stillCut1}, still_cut2 = #{stillCut2}, still_cut3 = #{stillCut3}, thumb_nail = #{thumbNail}, release_date = #{releaseDate}
		where movie_id=#{movieId}
	</update>
	
	<select id="index_list" resultType="movieinfoVO">
		select movie_id, title, register_date
		from table_movie_info
		order by register_date desc
		limit 10
	</select>
	

	<select id="countTotalList" resultType="Integer">
    <![CDATA[
        SELECT
            count(*)
        FROM
            table_movie_info
    ]]>
	</select>

	<!-- index 포스터 페이지 목록 -->
	<select id="poster_list" resultType="movieinfoVO">
		select
			movie_id, register_date
		from table_movie_info
		order by register_date desc
		limit 4
	</select>

	<!-- 전체 리스트 조회용 -->
	<select id="listAll" resultType="movieinfoVO">
		select *
		from table_movie_info
	
	</select>

	<!-- 페이징 -->
	<select id="list" resultType="movieinfoVO">
		<![CDATA[
			select * 
			from table_movie_info
			limit #{pageStart}, #{perPageNumber}
 		]]>

	</select>
		
	<!--  move info 페이지 뷰 (개별 게시글) -->
	<select id="view" parameterType="int" resultType="movieinfoVO">
		select
			*
		from
			table_movie_info
		where
			movie_id = #{movieId}
	
	</select>
	
	<!--  movie info 작성 -->
	<insert id="write" parameterType="movieinfoVO">
		insert into
			table_movie_info(title, starring, writer, genre, director, runtime, summary, poster, still_cut1, still_cut2, still_cut3, thumb_nail, release_date)
				values(#{title}, #{starring}, #{writer}, #{genre}, #{director}, #{runtime}, #{summary}, #{poster}, #{stillCut1}, #{stillCut2}, #{stillCut3}, #{thumbNail}, #{releaseDate} )
	</insert>
	
		<!--  get conditional list -->
	<select id="get_conditional_list" resultType="movieinfoVO">
		select
			movie_id, title, genre, date_format(release_date, '%Y-%m-%d') AS release_date
		from
	 		table_movie_info
	 	<if test="!genre.equals('')">
		where
 			genre = #{genre}
 		</if>
 		<if test="sortCondition.equals('A_Z')">
 			order by title desc
 		</if>
 	</select>
 	
 	<!--  searchByTitle -->
 	<select id ="search_by_title" resultType="movieinfoVO">
 	select 
 		movie_id, title
 	from
 		table_movie_info
 	where 
	 	title like #{searchKeyword}
 	</select>
 	
</mapper>