<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ReviewMapper">

	<!-- 리뷰 조회   -->
	<select id="readReview" resultType="reviewVO">
	<![CDATA[
		SELECT *
		FROM table_review
		WHERE movie_id = #{movieId}
	]]>
	</select>
	
	<!-- 페이징 -->
	<select id="pagingReview" resultType="reviewVO">
		<![CDATA[
			select * 
			from table_review
			WHERE movie_id = #{movieId}
			limit #{pageStart}, #{perPageNumber}
 		]]>

	</select>
	<select id="countTotalList" resultType="Integer">
	    <![CDATA[
	        SELECT
	            count(*)
	        FROM
	            table_review
	        WHERE 
	        	movie_id = #{movieId}
	    ]]>
	</select>
	
	
	<insert id="insertReview">
	
		insert into table_review 
			(movie_id, content, writer, rating)
		values
			(#{movieId}, #{content}, #{writer}, #{rating});
		
		update table_movie_info tmi
		set tmi.score_average = 
			(select avg(rating) from table_review tr 
				where tmi.movie_id = tr.movie_id)
		
	</insert>
	
	<update id="updateReview">
		update table_review 
			set	content=#{content}, rating=#{rating}
	</update>
	
	<delete id="deleteReview">
		delete from table_review
			where review_id=#{reviewId}
	</delete>
	<delete id="deleteReviewAll">
		delete from table_review
			where movie_id=#{movieId}
	</delete>

</mapper>